body {
    font-family: sans-serif;
}

header {
    background-color: #e1beedf8;
    border-radius: 8px;
    padding: 10px;
}

h1 {
    color: #2e0a3bf8;
    text-align: center;
}

body {
    background-color: #f7f0faf8;
}

header a {
    color: #460a5cf8;
}

footer {
    background-color: #e1beedf8;
    border-radius: 8px;
    padding: 10px;
}

footer b {
    color: #2e0a3bf8;
    border: 3px solid #2e0a3bf8;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 760px;
    padding-left: 10px;
}

footer p {
    color: #2e0a3bf8;
    padding: 8px;
    padding-left: 10px;
}

nav {
    margin: 20px;
    background-color: #2e0a3bf8;
    padding: 10px;
}

nav a {
    margin: 50px;
    color: #f7f0faf8;
}

.xlopyshka {
    background-color: #e1beedf8;
    padding: 10px;
}

.petarda {
    background-color: #e1beedf8;
    padding: 10px;
}

.fontan {
    background-color: #e1beedf8;
    padding: 10px;
}

.shar {
    background-color: #e1beedf8;
    padding: 10px;
}

.se {
    color: #2e0a3bf8;
    margin: 10px;
    font-size:xx-large;
}

.kartinka {
    border: 1px solid #2e0a3bf8;
    border-radius: 15px;
}

.bebebe {
    color: #2e0a3bf8;
    margin: 10px;
    font-size:xx-large;
}

.bebe {
    color: #2e0a3bf8;
}

.be {
    border: 1px solid #2e0a3bf8;
    border-radius: 15px;
}

.bebebebe {
    color: #2e0a3bf8;
    margin: 10px;
    font-size:xx-large;
}

.bebebebebe {
    color: #2e0a3bf8;
    margin: 10px;
    font-size:xx-large;
}

.b {
    color: #2e0a3bf8;
}




















